.footer {
    background:var(--secondary);
    height:10vh;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: var(--darker-grey);
}

.socialMedia svg {
  color: var(--grey);
  margin: 5px;
  font-size: 40px;
  cursor: pointer;
}

.socialMedia  {

  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding-right: 30px;
}


.footer p {
  color: #828282;
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0; 
  margin-left: 50px; 
}